@{
    ViewData["Title"] = "Upload CSV";
}

<h2>Upload CSV</h2>

<form asp-action="UploadFile" asp-controller="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv" />
    <button type="submit">Upload</button>
</form>